.logIn {
    z-index: 1000;

    @media screen and (max-width: 767px) {
        .logoFormulaire {
            text-align: center;
            height: 43vh;
        }
    }

    .logoFormulaire {

        @media screen and (max-width: 767px) {
            img {
                width: 231px;
                height: 231px;
            }
        }
    }

    .formulaire {
        background-color: #ffffffde;
        border-radius: 19px;

        .text_formulaire {
            div {
                filter: drop-shadow(3px 3px 3px #e9e5e5a9);
                color: #ffc727;
            }
        }

        form {
            .input {
                #identifiant, #password {
                    border-radius: 31px 13px;
                    border: none;
                    box-shadow: 0px 2px 3px 1px #7272720e;
                    font-size: .8rem;
                }
    
                label {
                    color: #ffc727e3;
                    opacity: .8;
                    filter: drop-shadow(3px 3px 3px #dfdbdb6e);
                }
            }
    
            .checkbox {
                label {
                    color: #a9a7a7f2;
                    font-size: .83rem;
                }
            }
            
            .btnlogIn {
                position: relative;
                button {
                    border: none;
                    color: #fff;
                    letter-spacing: .7px;
                    filter: drop-shadow(3px 3px 3px #c4c0c0ea);
                    background-image: linear-gradient(to right top, #ffc727, #fccc34, #fad040, #f7d44b, #f5d856);
                    transform: scale(1);
                    transition: all .3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .loader_spinner {
                    position: absolute;
                    background: #ffffff79;
                    width: 111.47px;
                    height: 36.39px;
                    color: #ffc727;
                }
            }

            .btnlogIn, .forgot_password {
                button {
                    font-size: .85rem;
                }
            }
            
            .forgot_password {
                button {
                    color: #ffc727;
                }
            }

            div.text_error_handling {
                color: #ec0404f1;
            }
        }
    }
}

.colorBg {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc727;
    z-index: -2;

    &::before {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 53%;
        height: 100%;
        background-color: #fff5ece8;
        clip-path: circle(100.0% at 0 50%);
        z-index: -1;
    }

    @media screen and (max-width: 767px) {
        &::before {
            width: 100%;
            height: 47%;
            clip-path: circle(100.0% at 50% 0);
        }
    }
}
