<div class="colorBg"></div>
<div class="secondBg"></div>
<div class="container logIn">
    <div class="my-md-3 py-md-4 py-2 my-1"></div>
    <div class="row justify-content-around align-items-center p-1">
        <div class="col-md-5 col-12 my-1 mx-2 logoFormulaire">
            <img ngSrc="assets/images/logo.png" class="img-fluid"
                width="331" height="331" priority>
        </div>
        <div class="col-md-5 col-12" style="z-index: 1003;">
            <div class="shadow p-1 my-1 formulaire">
                <div class="text_formulaire mt-4 mb-3">
                    <div class="fw-bold text-center fs-2">Bienvenu</div>
                </div>
                <form class="mt-1 mb-3 px-3 py-2" 
                    [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-4 input">
                        <input type="email" class="form-control ps-4" id="identifiant" 
                            placeholder="Email ***" formControlName="identifiant">
                        <label for="identifiant" 
                            class="fw-bold ps-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                            </svg>
                            <span class="mx-2">Email ***</span>
                        </label>
                    </div>
                    <div class="form-floating mb-3 input">
                        <input [type]="typeInput" class="form-control ps-4" id="password" 
                            placeholder="Mot de passe ***" formControlName="password">
                        <label for="password" 
                            class="fw-bold ps-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            <span class="mx-2">Mot de passe ***</span>
                        </label>
                    </div>
    
                    <div class="form-check form-switch mx-3 checkbox">
                        <input class="form-check-input" type="checkbox" 
                            role="switch" id="show_password" 
                            (change)="onShowPassword($event)">
                        <label class="form-check-label mx-2" 
                            for="show_password">{{checkboxLabel | titlecase}} le mot de passe</label>
                    </div>
    
                    <div *ngIf="unauthorized" class="d-flex justify-content-center align-items-center mt-2 mb-1 text_error_handling">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                            fill="#ec0404f1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                        <span class="mx-2" style="font-size: .8rem;">{{responseErreur}}</span>
                    </div>
    
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-2 btnlogIn">
                        <button class="btn rounded-pill fw-bold py-2"
                            type="submit" [disabled]="logInForm.invalid">Se connecter</button>
                        <div *ngIf="loading" class="rounded-pill text-center loader_spinner
                            d-flex justify-content-center align-items-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                    <div class="text-end mx-2 mt-3 forgot_password">
                        <button class="btn btn-link" type="button" 
                            data-bs-toggle="modal" data-bs-target="#modalForgotPassword" 
                            data-bs-whatever="@getbootstrap">Mot de passe oublié</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-forgot-password></app-forgot-password>
