<div class="container-fluid" id="competences">
    <div class="row justify-content-center align-items-center py-3">
        <div class="col-md-5 col-12 
            d-flex justify-content-center justify-content-md-end align-items-center">
            <span class="fw-bold fs-1 me-3">Bus</span>
        </div>
        <div class="col-md-7 col-12 text-center titre_image_section">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9c1.876 0 3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44.303 44.303 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44.304 44.304 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43.306 43.306 0 0 0 8 3"/>
  <path d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A43.61 43.61 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A42.611 42.611 0 0 1 8 1"/>
            </svg>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <div class="loader" *ngIf="loading$ | async"></div>
            <div class="overflow-scroll d-flex scroll_card card_group">
                <ng-container *ngIf="competences$ | async as competences">
                    <app-competence-item *ngFor="let data of competences" [competence]="data"
                        (statusUpdateModal)="listenStatusUpdateModal($event)"
                        (statusDeleteModal)="listenStatusDeleteModal($event)"
                        class="col-md-3 col-9 m-2 mx-md-3"></app-competence-item>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="p-1" id="add_button" (click)="listenStatusCreateModal()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
</div>

<!-- ============================== MODAL AJOUTER COMPETENCE ========================= -->
<div class="modal fade" id="modalCreateCompetence" data-bs-backdrop="static" 
    tabindex="-1" aria-labelledby="modalCreateCompetenceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content" [formGroup]="createForm" (ngSubmit)="onSubmitCreate()">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="modalCreateCompetenceLabel">Ajouter une compétence</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                    (click)="onCloseCreate()"></button>
            </div>
            <div class="modal-body">
                <div class="row my-3 mx-1 px-1 py-3">
                    <!-- =============== NOM =============== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="nom_create_competence" 
                                placeholder="Nom ***" formControlName="nom_competence">
                            <label for="nom_create_competence" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
                                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                                </svg>
                                <span class="mx-3">Nom de la compétence:</span>
                            </label>
                        </div>
                    </div>
                    <!-- ================= LISTE ================== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="liste_create_competence" 
                                placeholder="Liste ***" formControlName="liste">
                            <label for="liste_create_competence" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
                                </svg>
                                <span class="mx-2">Liste:</span>
                            </label>
                        </div>
                    </div>
                    <!-- ================= DESCRIPTION ================ -->
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control ps-4" id="description_create_competence" 
                                placeholder="Description ***" formControlName="description"></textarea>
                            <label for="description_create_competence" class="ps-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm10.113-5.373a6.59 6.59 0 0 0-.445-.275l.21-.352c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.326-.182.569-.182h.281a1.686 1.686 0 0 0-.123-.498 1.379 1.379 0 0 0-.252-.37 1.94 1.94 0 0 0-.346-.298zm-2.168 0A6.59 6.59 0 0 0 10 6.352L10.21 6c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.327-.182.569-.182h.281a1.749 1.749 0 0 0-.117-.492 1.402 1.402 0 0 0-.258-.375 1.94 1.94 0 0 0-.346-.3z"/>
                                </svg>
                                <span class="mx-2">Description:</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" 
                    data-bs-dismiss="modal" (click)="onCloseCreate()">Annuler</button>
                <button type="submit" class="btn rounded-pill valider fw-bold" 
                    [disabled]="createForm.invalid">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<!-- ============================== MODAL MODIFIER COMPETENCE ========================= -->
<div class="modal fade" id="modalModifierCompetence" data-bs-backdrop="static" 
    tabindex="-1" aria-labelledby="modalModifierCompetenceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content" [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="modalModifierCompetenceLabel">Modifier une competence</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                    (click)="onCloseUpdate()"></button>
            </div>
            <div class="modal-body">
                <div class="row my-3 mx-1 px-1 py-3">
                    <!-- =============== NOM =============== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="nom_update_competence" 
                                placeholder="Nom ***" formControlName="nom_competence">
                            <label for="nom_update_competence" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
                                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                                </svg>
                                <span class="mx-2">Nom de la competence:</span>
                            </label>
                        </div>
                    </div>
                    <!-- ================= LISTE ================== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="liste_update_competence" 
                                placeholder="Liste ***" formControlName="liste">
                            <label for="liste_update_competence" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
                                </svg>
                                <span class="mx-2">Liste:</span>
                            </label>
                        </div>
                    </div>
                    <!-- ================= DESCRIPTION ================ -->
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control ps-4" id="description_update_competence" 
                                placeholder="Description ***" formControlName="description"></textarea>
                            <label for="description_update_competence" class="ps-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm10.113-5.373a6.59 6.59 0 0 0-.445-.275l.21-.352c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.326-.182.569-.182h.281a1.686 1.686 0 0 0-.123-.498 1.379 1.379 0 0 0-.252-.37 1.94 1.94 0 0 0-.346-.298zm-2.168 0A6.59 6.59 0 0 0 10 6.352L10.21 6c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.327-.182.569-.182h.281a1.749 1.749 0 0 0-.117-.492 1.402 1.402 0 0 0-.258-.375 1.94 1.94 0 0 0-.346-.3z"/>
                                </svg>
                                <span class="mx-2">Description:</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" 
                    data-bs-dismiss="modal" (click)="onCloseUpdate()">Annuler</button>
                <button type="submit" class="btn rounded-pill valider fw-bold" [disabled]="updateForm.invalid">Valider</button>
            </div>
        </form>
    </div>
</div>

<!-- ============================== MODAL SUPPRIMER COMPETENCE ========================= -->
<div class="modal fade" id="modalSupprimerCompetence" data-bs-backdrop="static" 
    tabindex="-1" aria-labelledby="modalSupprimerCompetenceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <form class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 fw-bold" id="modalSupprimerCompetenceLabel">Suppression</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                    (click)="onCloseDelete()"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <div class="ms-2">
                    Voulez-vous supprimer <span class="fw-bold">{{currentCompetence?.nom}} ?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-muted close" 
                    data-bs-dismiss="modal" (click)="onCloseDelete()">Non</button>
                <button type="button" class="btn text-danger valider fw-bold" 
                    (click)="onConfirmDelete()">Oui</button>
            </div>
        </form>
    </div>
</div>
